<!-- project/templates/project/add_wishlist.html 
 bu email: myichen@bu.edu
 Base html for the other templates -->

{% extends 'project/base.html' %}

{% block content %}
<div class="about-container">
  <h1> About </h1>
  <p> This web app was made for my Full Stack course at Boston University. About me, I am a current Senior at Boston
    Univeristy, studying computer science.
    Aspiring to work in software engineering and Full stack development. I am also currently playing DragonVale almost
    daily.
  </p>
</div>


{% endblock %}