<!-- project/templates/project/base.html 
 bu email: myichen@bu.edu
 Base html for the other templates -->
{% load static %}
<html>

<head>
  <title> DragonVale WishList </title>
  <link rel="stylesheet" href="{% static 'styles-project.css' %}">
</head>

<body>
  <header>
    <nav class="navbar-fixed-top">
      <ul class="nav-links">
        <li> <a href="{% url 'Show_All_Dragons' %}">Show All Dragons</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'Dragon_User_Profile' %}">My Profile</a></li>

        <!-- Logout Form -->
        <li>
          <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
          </form>
          <a href="{% url 'logout' %}" onclick="document.getElementById('logout-form').submit();">
            Logout
          </a>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'create profile dragon' %}"> Create Account</a></li>
        {% endif %}
      </ul>
    </nav>
    <a href="{% url 'Show_All_Dragons' %}">
      <h2>DragonVale WishList</h2>
    </a>
  </header>

  {% block content %}
  {% endblock %}
</body>

</html>