<!-- mini_fb/templates/mini_fb/base.html 
 bu email: myichen@bu.edu
 Base html for the other templates -->
{% load static %}
<html>

<head>
  <title>Mini_fb</title>
  <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}">
</head>

<body>
  <header>
    <a href="{% url 'show_all_profiles' %}">
      <h1>Mini_fb</h1>
    </a>

    <div class="centering_text">
      <a href="{% url 'create_profile' %}">
        <h3>Create Profile</h3>
      </a>

    </div>
  </header>

  {% block content %}
  {% endblock %}

</body>

</html>