<!-- mini_fb/templates/mini_fb/base.html 
 bu email: myichen@bu.edu
 Base html for the other templates -->
{% load static %}
<html>

<head>
  <title>Mini_fb</title>
  <link rel="stylesheet" href="{% static 'styles-mini_fb.css' %}">
</head>

<body>
  <header>
    <a href="{% url 'show_all_profiles' %}">
      <h1>Mini_fb</h1>
    </a>

    <div class="centering_text">
      <li>
        <!-- URLs that depend on authentication status -->
        {% if request.user.is_authenticated %}
      <li><a href="{% url 'show_profile' profile.pk % }"> My Profile</a></li>
      <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
      <!--<li><a href="{% url 'logout' %}">Log out</a></li>-->
      <form action="{% url 'mini_fb_logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout">
      </form>
      {% else %}
      <li>
        <button><a href="{% url 'mini_fb_login' %}">Log in</a></button>
      </li>
      {% endif %}
      </li>
    </div>
    <p>
      <!-- request is teh HTTP request-->
      {% if request.user.is_authenticated %}
      Logged in user: {{ request.user }}.
      {% else %}
      Not logged in.
      {% endif %}

    </p>
  </header>

  {% block content %}
  {% endblock %}

</body>

</html>