<!-- mini_fb/templates/mini_fb/show_profile.html
 myichen@bu.edu
 Shows a singular profile -->

{% extends 'mini_fb/base.html' %}

{% block content%}
<main class="grid-container"><!--<div>-->

  <article><!--<div>-->
    <h2>{{Profile.first_name}} {{Profile.last_name}}</h2>
    <img src="{{Profile.image_url}}" alt="{{Profile.image_url}}" width="600px">
    <p>
      {{Profile.city}} </br>
      {{Profile.email}} </br>

    </p>
  </article>

  <div>
    <h2>Status Messages</h2>
    <a href="{% url 'create_status' Profile.pk%}">Create a Status Message</a>
    {% if Profile.get_message %}
    <!-- call the get_comments method on the article object -->
    <!--{{article.get_comments}} -->
    {% for m in Profile.get_message %}
    <div>
      <p>
        {{m.message}}
      </p>
      <!-- Display associated images -->
      {% for img in m.get_images %}
      <div>
        <img src="{{ img.image_file.url }}" alt="Image for status" width="300px">
      </div>
      {% endfor %}
      <strong> {{m.profile}} at {{m.timestamp}}</strong>
      <!-- Add the delete link for each status message -->
      <p>
      <table>
        <td><button type="submit"><a href="{% url 'update_status_message' m.pk %}"> Update </a></button></td>
        <td></td>
        <td><button type="submit"><a href="{% url 'delete_status' m.pk %}">Delete</a></button></td>

      </table>

      </p>
    </div>
    {% endfor %}
    {% else %}
    <p> No Status Messages yet</p>
    {% endif %}

  </div>
</main>
{% endblock%}