<!-- 
 mini_fb/templates/mini_fb/update_status_form.html
 myichen@bu.edu
 -->
{% extends 'mini_fb/base.html' %}
{% block content %}
<h1>Confirm Update Status Message</h1>

<div class='center'>
  <p>Current status message:</p>
  <p><strong>{{ status_message.message }}</strong></p>

  <form method="POST">
    {% csrf_token %}
    <p>
      {{ form.as_table }}
      </br>
      <button type="submit">Update</button>
      <!-- Cancel button redirects to the profile page -->
      <button type="submit"><a href="{% url 'show_profile' status_message.profile.pk %}">Cancel</a></button>
    </p>
  </form>
</div>
{% endblock %}